*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Fredoka',sans-serif;
    background:#FB565E;
    min-height:100vh;
    overflow-x:hidden;
}

/* ================= HEADER ================= */

header{
    width:100%;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    width:90px;
}

nav{
    display:flex;
    gap:20px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    padding:10px 20px;
    border-radius:30px;
    box-shadow:0 8px 32px rgba(0,0,0,.12);
}
nav a{
    position:relative;
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:500;
    padding:10px 18px;
    border-radius:20px;
    transition:all .35s ease;
}
nav a:hover{
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(12px);
    -webkit-backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:
    0 0 10px rgba(255,255,255,0.4),
    0 0 20px rgba(255,255,255,0.25),
    inset 0 0 10px rgba(255,255,255,0.15);
    transform:translateY(-2px);
}

.icons{
    display:flex;
    gap:15px;
}

.icons span{
    width:50px;
    height:50px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;
    cursor:pointer;

    color:white;
    font-size:24px;

    transition:all .35s ease;
}

.icons span:hover{
    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(12px);
    -webkit-backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.3);

    box-shadow:
    0 0 12px rgba(255,255,255,.4),
    0 0 25px rgba(255,255,255,.25),
    inset 0 0 10px rgba(255,255,255,.15);

    transform:translateY(-3px) scale(1.05);
}

/* ================= HERO ================= */

.hero{
    min-height:85vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 0px;
}

.left{
    width:40%;
}

.left h1{
    color:white;
    font-size:6rem;
    line-height:1;
    text-shadow:0 10px 15px rgba(0,0,0,.2);
}

.left h1 span{
    display:block;
}

.light{
    color:#a7cce8;
}

.left p{
    margin-top:40px;
    color:white;
    font-size:1.3rem;
    line-height:1.7;
    max-width:500px;
}

/* ================= RIGHT ================= */


.right{
    width:60%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.pack{
    width:100%;
    max-width:850px;

    position:relative;
    top:-50px;
}

.cookie{
    position:absolute;

    width:280px;

    right:180px;

    top:280px; 

    z-index:2;
}

/* ================= SLIDER ================= */

.slider-controls{
    display:flex;
    align-items:center;
    gap:25px;
    margin-top:70px;
}

.nav-btn{
    width:70px;
    height:70px;
    border-radius:50%;
    border:2px solid white;
    background:transparent;
    color:white;
    font-size:35px;
    cursor:pointer;
    transition:.3s;
}

.nav-btn:hover{
    background:white;
    color:#86b4d4;
}

.dots{
    display:flex;
    gap:15px;
}

.dots span{
    width:15px;
    height:15px;
    border-radius:50%;
    border:2px solid white;
}

.dots .active{
    background:white;
}

/* ================= RESPONSIVE ================= */

@media(max-width:768px){

    header{
        padding:15px;
    }

    nav,
    .icons{
        display:none;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        padding:20px;
        gap:20px;
    }

    .left,
    .right{
        width:100%;
    }

    .left h1{
        font-size:3.5rem;
    }

    .left p{
        font-size:1rem;
        max-width:100%;
        margin-top:20px;
    }

    .pack{
        max-width:100%;
        top:0;
    }

    .cookie{
        width:140px;
        right:20px;
        top:120px;
    }

    .slider-controls{
        justify-content:center;
        margin-top:30px;
    }
}

@media(max-width:480px){

    .left h1{
        font-size:2.8rem;
    }

    .left p{
        font-size:.95rem;
    }

    .cookie{
        width:120px;
        right:10px;
        top:100px;
    }
}
